@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.app{
  margin: 0 40px;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.search{
  background-color: aliceblue;
  padding: 16px;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.search input{
  border: none;
  background-color: transparent;
  width: 250px;
  font-size: 16px;
  outline: none;
}

.search-btn{
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.logo img{
  height: 100px;
}


.search-result h1{
  text-align: center;
}
